
<div class="container">
  <h2 style="color:red" align="center">Danh sách sách</h2>
  <%= search_form_for @q, method: :get, remote: :true do |f| %>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "Thêm sách", new_book_path,
          class: "btn btn-success" %>
      </div>
      <div class="col-md-5">
        <%= f.search_field :name_cont, placeholder: "Nhập vào tên sách", class: "form-control"%>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-search">
            Tìm kiếm
          </span>
        </button>
      </div>
    </div>
  <% end %>
  <hr>
  <div id="books">
    <%= render "book" %>
  </div>
</div>
