<header class="navbar header">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><%= image_tag("header.png", :alt => "library")%></li>
    </ul>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/">Trang chủ</a></li>
      <li role="presentation"><a href= "/books">Tất cả sách</a></li>
    </ul>
  </div>
</header>
